<h1>MyTree#index</h1>
<p>Find me in app/views/my_tree/index.html.erb</p>
<ul>
  <% @trees.each do |tree| %>
    <li><%= link_to tree.name, edit_my_tree_path(tree.id) %></li>
  <% end %>
</ul>

<%= render partial: "new_form" %>
